<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    {% block head %} {% endblock %}
</head>
<body>
<div class="navbar">
    <a href="/">Calculator</a>
    <a href="/dotcombubble">Dotcombubble</a>
    <a href="/http">Http</a>
    <a href="/w3c">W3c</a>
    <a href="/about">About</a>
</div>
{% block body %} {% endblock %}
</body>
</html>